.multimedia-ug {
  background: url(../img/background-video.png);
  background-repeat: repeat;
  margin-top: -1px;
}
.category.multimedia-ug {
	background: #fff;
	padding: 30px 0;
}

.multimedia-ug .content-multimedia {
	padding: 30px 0 30px 0;
}

.multimedia-ug .content-multimedia .title {
  color: #000;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.multimedia-ug .content-multimedia .section-title {
	display: flex;
	align-items: center;
}
.content-multimedia .list-videos-ug {
	background: #fff;
}
.multimedia-ug .content-multimedia .section-title .content-title {
	padding-left: 0;
}

.multimedia-ug .content-multimedia .section-title .content-btn {
	padding-right: 0;
}

.multimedia-ug .content-multimedia .list-videos-ug .multimedia-header a.multimedia-view-more-link {
	text-decoration: none;
}
.multimedia-ug .content-multimedia .list-videos-ug .multimedia-header a.multimedia-view-more-link:hover .title {
	color: #b89a59;
}

.multimedia-ug .content-multimedia .section-title .content-btn a.multimedia-view-more {
	border: 2px solid #b89a59;
	background-color: #b89a59;
	text-decoration: none;
	padding: 8px 15px;
	color: #fff;
	float: right;
	font-size: 18px;
    font-family: Montserrat-Medium, sans-serif;
    border-radius: 3px;
    transition: all .2s;
}
.multimedia-ug .content-multimedia .list-videos-ug .multimedia-header a.multimedia-view-more:hover i {
	color:  #b89a59;
}

.multimedia-ug .content-multimedia .section-container .section-row {
	display: flex;
	padding-right: 15px;
}

.multimedia-ug .content-multimedia .section-container .section-row .tab-content {
	height: 100%;
	width: 100%;
}

.multimedia-ug .content-multimedia .section-title .content-btn a.multimedia-view-more:hover {
	background-color: #fff;
	color: #b89a59;
}

.multimedia-ug .content-multimedia .under-mustard {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.multimedia-ug .content-multimedia .section-container {
  
}

.multimedia-ug .content-multimedia .list-videos-ug .under-mustard{
	margin-left: 0;
	border-top-width: 7px;
}

.multimedia-ug .content-multimedia .list-videos-ug .nav-stacked {
  height: 350px;
  overflow-y: scroll;
}
.category.multimedia-ug .content-multimedia .list-videos-ug .nav-stacked {
	height: 450px;
}

.multimedia-ug .content-multimedia .list-videos-ug .nav-stacked .items-separator{
	margin-top: 0;
	margin-bottom: 0;
}

.multimedia-ug .content-multimedia .list-videos-ug .multimedia-header {
	display: flex;
	align-items: center;
}

.multimedia-ug .content-multimedia .list-videos-ug .multimedia-header .title-multimedia-vm{
	color: #000;
}

.multimedia-ug .content-multimedia .list-videos-ug .multimedia-header a.multimedia-view-more {
	padding: 0;
	font-size: 14px;
	color: #000;
	margin-top: 10px;
	padding-left: 2%;
	padding-right: 4%;
}

.multimedia-ug .content-multimedia .nav-stacked > li,
.multimedia-ug .content-multimedia .nav-stacked > li > a {
  display: inline-block;
}

.multimedia-ug .content-multimedia .nav-stacked li a {
  background: transparent;
  text-decoration: none;
}

.multimedia-ug .content-multimedia .nav-stacked li .media-body{
	line-height: 1;
}

.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title{
	color: inherit;
	line-height: 1;
	display: flex;
	align-items: center;
	width: 100%;
}

.category.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title{
	color: #000;
}

.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-date{
	color: inherit;
}

.multimedia-ug .content-multimedia .nav-stacked li.active .media-body .video-play-ug:before {
	content: "\f04c";
}
.multimedia-ug .content-multimedia .nav-stacked li.active .media-body a.link-title i:before {
	content: "\f04c";
}
.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title i {
	font-size: 12px;
	padding-right: 5px;
}
.multimedia-ug .content-multimedia .nav-stacked li.active .media-body a.link-title i{
	color: #b89a59;
}

.multimedia-ug .content-multimedia .nav-stacked li a:hover {
  background-color: transparent;
}

.multimedia-ug .content-multimedia .nav-stacked li .img-video-ug {
  width: 150px;
  height: 90px;
}

.multimedia-ug .content-multimedia .nav-stacked li .media-body {
  padding: 2px 3px 3px 0;
}

.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title .media-header{
	font-weight: 100;
	margin-top: 0;
	width: 100%;
	font-size: 15px;
}

.multimedia-ug .content-multimedia .nav-stacked li .media-body .media-date {
	margin-bottom: 0;
	font-size: 12px;
}

.multimedia-ug .content-multimedia .multimedia-content-post {
	height: 100%;
}

.multimedia-ug .content-multimedia .multimedia-content-post .title-content{
	color: #fff;
}

.multimedia-ug .content-multimedia .multimedia-content-post iframe {
  width: 100%;
  height: 100%;
}

.category.multimedia-ug .content-multimedia .multimedia-content-post iframe {
  height: 85%;
  width: 100%;
}

.category.multimedia-ug .content-multimedia .multimedia-content-post .date-video-ug {
	font-size: 12px;
}

.category.multimedia-ug .content-multimedia .multimedia-content-post .title-video-ug,
.category.multimedia-ug .content-multimedia .multimedia-content-post .date-video-ug {
  margin-bottom: 0;
  color: #000;
}

.content-multimedia .nav-stacked li.item-mobil {
	display: none !important;
}

.content-multimedia .section-content-post {
	padding-left: 15px;
}
.content-multimedia .nav-stacked li .pull-left {
	padding: 0 8px 0 0;
}
.category.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title i{
	padding-right: 5px;
	font-size: 13px;
}
.category.multimedia-ug .content-multimedia .nav-stacked li.active .media-body a.link-title i:before {
	content: "\f04c";
}

@media only screen and (max-width: 575.98px) {
	.multimedia-ug .content-multimedia {
		padding: 0;
	}
	.multimedia-ug .content-multimedia .list-videos-ug {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.multimedia-ug .content-multimedia .title {
		font-size: 20px;
		margin-bottom: 0;
		margin-top: 5;
	}
	.multimedia-ug .content-multimedia .under-mustard {
		border-top-width: 5px;
	}
	.multimedia-ug .content-multimedia .content-img {
		padding: 0;
	}
	.content-multimedia .title, .multimedia-ug .content-multimedia .under-mustard {
		text-align: left;
	}
	.content-multimedia .section-content-post {
		display: none;
	}
	.category.multimedia-ug .section-content-post {
		display: flex;
	}
	.content-multimedia .nav-stacked li.item-mobil {
		display: inline-block !important;
	}
	.content-multimedia .nav-stacked li.item-desktop {
		display: none !important;
	}
	.content-multimedia .nav-stacked li.active .media-body .video-play-ug:before{
		content: "\f04b" !important;
	}
	.content-multimedia .section-container .section-row {
		padding-right: 0 !important;
	}
	.multimedia-ug .content-multimedia .multimedia-content-post iframe {
		height: 200px;
	}
	.multimedia-ug .content-multimedia .nav-stacked li .img-video-ug {
		width: 100%;
		height: auto;
	}
	.multimedia-ug .content-multimedia .list-videos-ug .multimedia-header a.multimedia-view-more {
		padding: 0;
		padding-left: 2%;
	}
	.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title .media-header {
		font-size: 14px;
		margin-bottom: 0;
	}
	.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title .container-info {
		padding-left: 2%;
	}
	.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title {
		align-items: normal;
	}
	.modal-videos-ug .modal-body .nav-stacked {
		overflow-y: scroll;
	}
	.modal-videos-ug .modal-body {
		background-color: #fff;
		padding-top: 0;
		margin-top: 0;
	}
	.modal-videos-ug .modal-body .content-tabs{
		padding: 0;
	}
	.modal-videos-ug .content-nav .title {
		margin-top: 5px;
		font-size: 18px;
	}
	.modal-videos-ug .modal-body .content-nav .multimedia-header {
		display: flex;
		align-items: center;
	}
	.modal-videos-ug .modal-body .content-nav .multimedia-header .multimedia-view-more {
		padding-left: 2%;
	}
	.modal-videos-ug .modal-body .content-nav .multimedia-header .multimedia-view-more i{
		margin-bottom: 11px;
		margin-top: 10px;
		color: #000;
	}
	.modal-videos-ug .modal-body .content-nav .media-body .media-header {
		font-size: 14px !important;
		margin-bottom: 2px;
	}
	.modal-videos-ug .modal-body .title-item-active {
		display: flex;
		align-items: center;
	}
	.modal-videos-ug .modal-body .title-item-active .media-header {
		margin-bottom: 0;
		font-size: 14px;
	}
	.modal-videos-ug .modal-body .title-item-active .media-date {
		font-size: 12px;
	}
	.modal-videos-ug .modal-body .tab-content {
		border-bottom: 1px solid #ececec;
	}
	.modal-videos-ug .modal-body .title-item-active .content-close .close{
		opacity: 1;
	}
	.modal-videos-ug .modal-body .title-item-active .content-close .close i{
		font-size: 16px;
	}
	.modal-videos-ug .modal-body .content-nav .content-img {
		padding: 0;
	}
	.modal-videos-ug .modal-body .content-nav li .img-video-ug {
		width: 100%;
		height: auto;
	}
	.modal-videos-ug .modal-body .content-nav li .media-header i{
		font-size: 12px;
		padding-right: 5px;
	}
	.modal-videos-ug .modal-body .content-nav li.active .media-header i {
		color: #b89a59 !important;
	}
	.modal-videos-ug .modal-body .content-nav li.active .media-header i:before{
		content: "\f04c"
	}
	.category.multimedia-ug .content-multimedia .section-container .section-row {
		display: block
	}
	.category.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title i{
		font-size: 12px;
		padding-right: 5px;
	}
	.category.multimedia-ug .content-multimedia .nav-stacked li.active .media-body a.link-title i:before{
		content: "\f04c"
	}
	.category.multimedia-ug .content-multimedia .multimedia-content-post iframe {
		height: 200px;
	}
	.category.multimedia-ug .content-multimedia .multimedia-content-post .title-video-ug,
	.category.multimedia-ug .content-multimedia .multimedia-content-post .date-video-ug {
		margin-left: 3%;
	}
	.category.multimedia-ug .content-multimedia .multimedia-content-post .title-video-ug{
		font-size: 16px;
		margin-top: 10px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
	.multimedia-ug .content-multimedia {
		padding: 0;
	}
	.multimedia-ug .content-multimedia .list-videos-ug {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.multimedia-ug .content-multimedia .title {
		font-size: 20px;
		margin-bottom: 0;
		margin-top: 0;
	}
	.multimedia-ug .content-multimedia .under-mustard {
		border-top-width: 5px;
	}
	.multimedia-ug .content-multimedia .content-img {
		padding: 0;
	}
	.content-multimedia .title, .multimedia-ug .content-multimedia .under-mustard {
		text-align: left;
	}
	.content-multimedia .section-content-post {
		display: none;
	}
	.category.multimedia-ug .section-content-post {
		display: flex;
	}
	.content-multimedia .nav-stacked li.item-mobil {
		display: inline-block !important;
	}
	.content-multimedia .nav-stacked li.item-desktop {
		display: none !important;
	}
	.content-multimedia .nav-stacked li.active .media-body .video-play-ug:before{
		content: "\f04b" !important;
	}
	.content-multimedia .section-container .section-row {
		padding-right: 0 !important;
	}
	.multimedia-ug .content-multimedia .multimedia-content-post iframe {
		height: 200px;
	}
	.multimedia-ug .content-multimedia .nav-stacked li .img-video-ug {
		width: 100%;
		height: auto;
	}
	.multimedia-ug .content-multimedia .list-videos-ug .multimedia-header a.multimedia-view-more {
		padding: 0;
		padding-left: 2%;
	}
	.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title .media-header {
		font-size: 14px;
		margin-bottom: 0;
	}
	.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title .container-info {
		padding-left: 2%;
	}
	.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title {
		align-items: normal;
	}
	.modal-videos-ug .modal-body .nav-stacked {
		overflow-y: scroll;
	}
	.modal-videos-ug .modal-body {
		background-color: #fff;
		padding-top: 0;
	}
	.modal-videos-ug .modal-body .content-tabs{
		padding: 0;
	}
	.modal-videos-ug .content-nav .title {
		margin-top: 0px;
		font-size: 18px;
	}
	.modal-videos-ug .modal-body .content-nav .multimedia-header {
		display: flex;
		align-items: center;
	}
	.modal-videos-ug .modal-body .content-nav .multimedia-header .multimedia-view-more {
		padding-left: 2%;
	}
	.modal-videos-ug .modal-body .content-nav .multimedia-header .multimedia-view-more i{
		margin-bottom: 11px;
		margin-top: 10px;
	}
	.modal-videos-ug .modal-body .content-nav .media-body .media-header {
		font-size: 14px !important;
		margin-bottom: 2px;
	}
	.modal-videos-ug .modal-body .title-item-active {
		display: flex;
		align-items: center;
	}
	.modal-videos-ug .modal-body .title-item-active .media-header {
		margin-bottom: 0;
		font-size: 14px;
	}
	.modal-videos-ug .modal-body .title-item-active .media-date {
		font-size: 12px;
	}
	.modal-videos-ug .modal-body .tab-content {
		border-bottom: 1px solid #ececec;
	}
	.modal-videos-ug .modal-body .title-item-active .content-close .close{
		opacity: 1;
	}
	.modal-videos-ug .modal-body .title-item-active .content-close .close i{
		font-size: 14px;
	}
	.modal-videos-ug .modal-body .content-nav .content-img {
		padding: 0;
	}
	.modal-videos-ug .modal-body .content-nav li .img-video-ug {
		width: 100%;
		height: auto;
	}
	.modal-videos-ug .modal-body .content-nav li .media-header i{
		font-size: 12px;
		padding-right: 5px;
	}
	.modal-videos-ug .modal-body .content-nav li.active .media-header i {
		color: #b89a59 !important;
	}
	.modal-videos-ug .modal-body .content-nav li.active .media-header i:before{
		content: "\f04c"
	}
	.category.multimedia-ug .content-multimedia .section-container .section-row {
		display: block
	}
	.category.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title i{
		font-size: 12px;
		padding-right: 5px;
	}
	.category.multimedia-ug .content-multimedia .nav-stacked li.active .media-body a.link-title i:before{
		content: "\f04c"
	}
	.category.multimedia-ug .content-multimedia .multimedia-content-post iframe {
		height: 200px;
	}
	.category.multimedia-ug .content-multimedia .multimedia-content-post .title-video-ug,
	.category.multimedia-ug .content-multimedia .multimedia-content-post .date-video-ug {
		margin-left: 3%;
	}
	.category.multimedia-ug .content-multimedia .multimedia-content-post .title-video-ug{
		font-size: 16px;
		margin-top: 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
	.content-multimedia .nav-stacked li.item-mobil {
		display: none !important;
	}
	.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title .media-header{
		font-size: 14px;
	}
	.multimedia-ug .content-multimedia .list-videos-ug .nav-stacked {
		height: 250px;
	}
	#modal-multimedia {
		display: none !important;
	}
	.category.multimedia-ug .section-content-post {
		padding: 0;
	}
	.category.multimedia-ug .list-videos-ug .img-video-ug {
		display: none;
	}
	.category.multimedia-ug .content-multimedia .nav-stacked li .media-body a.link-title i {
		font-size: 11px;
	}
	.category.multimedia-ug .content-multimedia .multimedia-content-post .title-video-ug{
		font-size: 20px;
	}
}

@media only screen and (min-width: 1200px) {
	.content-multimedia .list-videos-ug {
	  padding-right: 0;
	}
	#modal-multimedia {
		display: none !important;
	}
	.category.multimedia-ug .section-content-post {
		padding: 0;
	}
}

.modal-videos-ug {
	z-index: 99999999;
}

.modal-videos-ug .modal-dialog {
	margin: 0;
	height: 100%;
}
.modal-videos-ug .modal-dialog .modal-content {
	height: 100%;
	border-radius: 0;
	border: 0;
}
