.topicality_section {
    padding-top:30px;
    padding-bottom:30px;
}
.flat-events {
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

.flat-events.topicality .grid-item:first-child {
    background-color:  #212529;
}

.flat-events .grid-item.color-full {
    padding-bottom: 0;
}
.flat-events.topicality {
    background: #192024;
    align-items: inherit;
    justify-content: flex-start;
}
.topicality_section .flat-university .box-university{
    margin-bottom: 0 !important;
}

.topicality_section .flat-events .grid-item .grid-item-content p {
    line-height: 16px;
    font-size: 16px;
}
.topicality_section .flat-events .grid-item .grid-item-content a.flat-button {
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat-Medium, sans-serif;
    padding: 12px 20px;
}
.flat-events.topicality .color-full.grid-topicality-ug {
    background: url(../img/background-video.png);
    background-repeat: repeat;
}
.topicality_section .flat-events.topicality .grid-topicality-ug  .title {
    font-size: 33px;
}
.flat-events.topicality .grid-item.grid-topicality-ug .event-item {
    height: 100%;
}
.flat-events.topicality .grid-item.grid-topicality-ug .grid-item-content {
    height: 100%;
}
.topicality_section.container_event_section {
    padding: 60px 0 !important;
}
.topicality_section.container_event_section .overlay-ug{
    background-color: rgba(255, 254, 254, 0.5294117647058824) !important;
}
.topicality_section.container_event_section .flat-events.topicality {
    box-shadow: -40px 45px 35px -32px rgba(0, 0, 0, 0.75), 0px 41px 65px -60px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 575.98px) {
    .grid-topicality-ug {
	height: 240px !important;
    }
    .flat-events.topicality {
	background: transparent;
    }
    .topicality_section.container_event_section .topicality .grid-item {
        margin-bottom: 0;
    }
}

@media only screen and (max-width:767.98px) {
    .flat-button-topicality-mb a {
        color: #fff;
        border-color: #b89a59 !important;
        border: solid 2px #b89a59;
        background: #b89a59;
        margin: 0 auto;
        padding: 5px 10px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-decoration: none;
    }

    .flat-button-topicality-mb i {
        margin-left: 5px;
    }

    .box-university .flat-events .grid-item {
        display: none!important;
    }

    .box-university .flat-events .grid-item:nth-child(-n+4) {
        display: flex!important;
    }

    .flat-events.topicality .color-full.grid-topicality-ug {
        height: auto!important;
    }

    .flat-events.topicality .color-full.grid-topicality-ug p,
    .flat-events.topicality .color-full.grid-topicality-ug a {
        display: none;
    }

    .flat-events.topicality .color-full.grid-topicality-ug .event-item {
        margin: 0 auto;
    }

    .flat-events.topicality .color-full.grid-topicality-ug h1 {
        margin: 0;
    }
}

@media only screen and (min-width:768px) {
    .flat-button-topicality-mb {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .topicality_section .flat-events .grid-item .grid-item-content a.flat-button{
        font-size: 16px;
    }
}
